<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Lista de usuários</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>


<!-- --------------------------------- -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> <!--  For notifications -->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!--  Bootstrap requires jquery and toastr to run -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!--  We will not use this (atm) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> <!--  need it to run toastr -->

</head>
<body>

	<div th:insert="fragments/publica-nav :: nav"></div>
	<div class="container">
		<div class="row">

			<div class="col"> 
				
				
					<h1>Lista de usuários <a class="btn btn-secondary" href="/">Voltar</a></h1>
					
			
				<table class="table table-striped">

					<thead class="thead-dark"> 

						<tr>

							<th>ID</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>Data de Nascimento</th>
							<th>E-mail</th>
							<th>Deletar</th>
							<th>Editar</th>
						</tr>

					</thead>
					<tbody>

						<tr th:if="${usuarios.empty}">
							<td colspan="7" id="tabelaVazia" style="text-align: center">Nenhum usuário encontrado</td>

						</tr>

						<tr th:each="usuario : ${usuarios}">

							<td><span th:text="${usuario.id}">ID</span></td>
							<td><span th:text="${usuario.nome}">nome</span></td>
							<td><span th:text="${usuario.cpf}">cpf</span></td>
							<td><span
								th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}">data
									de nascimento</span></td>
							<td><span th:text="${usuario.email}">email</span></td>
							<td>

								<a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" >Deletar</a>
								
								<div th:replace="fragments/modal :: modal-apagar"></div>
								
							</td>
							
							<td>
							
								<a class="btn btn-warning btn-sm" th:href="@{/usuario/editar/{id} (id=${usuario.id})}">Editar</a>
							
							</td>
							
						</tr>

					</tbody>
				</table>

			</div>


		</div>
	</div>
	
<script th:inline="javascript"> 

	window.onload = function() {
	
		var mensagem = [[${mensagem}]];
		if (mensagem == "Deletado com sucesso") {
		
			Command: toastr.success("Usuário deletado com sucesso!")
			
			} else if (mensagem == "Editado com sucesso") {
			
				Command: toastr.success("Usuário editado com sucesso!")
			
			}
		
			toastr.options = {
			  "closeButton": true,
			  "debug": false,
			  "newestOnTop": false,
			  "progressBar": true,
			  "positionClass": "toast-top-right",
			  "preventDuplicates": false,
			  "onclick": null,
			  "showDuration": "300",
			  "hideDuration": "1000",
			  "timeOut": "5000",
			  "extendedTimeOut": "1000",
			  "showEasing": "swing",
			  "hideEasing": "linear",
			  "showMethod": "fadeIn",
			  "hideMethod": "fadeOut"
	
		}
	
	}


</script>

</body>
</html>