<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>



</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col">
			
				<h2 th:text="${msgBemVindo}">Independente do que tiver aqui, o thymeleaf irá 
				sobrepor a tag com o valor que foi atribuido a chave msgBemVindo</h2>
				<a class="btn btn-primary" href="/usuarios/novo">NOVO USUÁRIO</a>
			</div>
		</div>
	</div>

	

</body>
</html>